@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.unnamed {
    width: 150px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info {
    margin-bottom: 20px;
}

.info-text p {
    font-style: italic;
    font-weight: bold ;
    color: #86898f;
    margin: 0;
}

.card {   
    border-radius: 20px;
    padding: 15px 20px;
   margin-bottom: 20px;
}

.bg-yellow {
    background: #fff9dc ;
}

.bg-red {
    background: #ffe5e5;
}

.bg-green {
    background: #e5ffe7;
}

.btn {
    background: #111;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8
}

.list {
    padding: 0 20px;
}

.list {
    color: grey;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(2) {
    color: #86898f;
}